* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header nav {
  background-color: #606c38; }
  header nav div div ul li a {
    font-family: "Poppins", sans-serif;
    color: white; }

footer {
  display: grid;
  grid-template-areas: "footer-telefono" "footer-logo" "footer-redes";
  background-color: #606c38;
  justify-items: center; }
  footer .footer-telefono {
    display: flex;
    flex-direction: row;
    justify-content: none;
    align-items: none;
    margin-bottom: 10px;
    margin-top: 10px; }
    footer .footer-telefono p {
      margin-top: 10px;
      margin-left: 3px; }
  footer .footer-redes ul {
    display: flex;
    flex-direction: row;
    justify-content: none;
    align-items: none;
    list-style: none;
    margin-top: 10px;
    margin-right: 30px; }

.main-index {
  background-color: #fefae0; }
  .main-index .section-principal {
    position: relative; }
    .main-index .section-principal img {
      width: 100%;
      height: 300px;
      opacity: 70%; }
    .main-index .section-principal h1 {
      position: absolute;
      top: 7%;
      right: 20%;
      font-family: "Poppins", sans-serif;
      color: black;
      font-size: 35px; }
    .main-index .section-principal div p {
      position: absolute;
      top: 23%;
      right: 15%;
      left: 17%;
      text-align: center;
      font-family: "Poppins", sans-serif;
      color: black;
      font-size: 20px; }
    .main-index .section-principal div a {
      position: absolute;
      top: 80%;
      right: 15%;
      left: 15%;
      text-align: center;
      font-family: "Poppins", sans-serif;
      font-size: 20px;
      padding: 15px;
      color: black; }
  .main-index .section-index-secundary {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: none; }
    .main-index .section-index-secundary div figure {
      display: flex;
      flex-direction: column;
      justify-content: none;
      align-items: center;
      justify-items: center;
      width: 80%;
      margin-left: 10%; }
      .main-index .section-index-secundary div figure img {
        border-radius: 50%;
        margin-top: 12px;
        margin-bottom: 12px;
        margin-left: 0%;
        margin-right: 0%; }
      .main-index .section-index-secundary div figure figcaption {
        margin-right: 25%;
        font-family: "Poppins", sans-serif;
        font-size: 15px;
        padding: 15px 0px 15px 60px; }

.main-actividad {
  background-color: #fefae0; }
  .main-actividad h1 {
    font-family: "Poppins", sans-serif;
    padding-top: 10px;
    text-align: center;
    font-size: 30px; }
  .main-actividad .container-agricultura {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: none;
    margin-top: 20px;
    margin-bottom: 20px; }
    .main-actividad .container-agricultura h2 {
      font-family: "Poppins", sans-serif;
      text-align: center;
      font-size: 25px; }
    .main-actividad .container-agricultura div {
      display: flex;
      flex-direction: column;
      justify-content: none;
      align-items: center; }
      .main-actividad .container-agricultura div img {
        width: 80%;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0%;
        margin-right: 0%; }
      .main-actividad .container-agricultura div p {
        font-family: "Poppins", sans-serif;
        text-align: center;
        font-size: 18px;
        margin-left: 20px;
        margin-right: 20px; }
  .main-actividad .container-ganaderia {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: none;
    margin-top: 20px;
    padding-bottom: 20px; }
    .main-actividad .container-ganaderia h2 {
      font-family: "Poppins", sans-serif;
      text-align: center;
      font-size: 25px; }
    .main-actividad .container-ganaderia div {
      display: flex;
      flex-direction: column;
      justify-content: none;
      align-items: center; }
      .main-actividad .container-ganaderia div img {
        width: 80%;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0%;
        margin-right: 0%; }
      .main-actividad .container-ganaderia div p {
        font-family: "Poppins", sans-serif;
        text-align: center;
        font-size: 18px;
        margin-left: 20px;
        margin-right: 20px; }

.main-campo {
  background-color: #fefae0; }
  .main-campo .campo-principal h1 {
    font-family: "Poppins", sans-serif;
    padding-top: 10px;
    text-align: center;
    font-size: 30px; }
  .main-campo .campo-principal p {
    margin-top: 5px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px; }
  .main-campo .container-mapas {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: none;
    margin-top: 20px; }
    .main-campo .container-mapas div figure iframe {
      width: 80%;
      margin-left: 30px; }
    .main-campo .container-mapas div figure figcaption {
      text-align: center;
      margin-top: 5px;
      margin-bottom: 20px;
      font-family: "Poppins", sans-serif;
      font-size: 20px; }

.main-contacto {
  background-color: #fefae0; }
  .main-contacto h1 {
    font-family: "Poppins", sans-serif;
    padding-top: 10px;
    text-align: center;
    font-size: 30px; }
  .main-contacto section {
    font-family: "Poppins", sans-serif;
    padding-bottom: 20px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px; }
    .main-contacto section button {
      background-color: #dda15e;
      border-color: #dda15e; }

.main-nosotros {
  background-color: #fefae0; }
  .main-nosotros section {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: none;
    padding-top: 10px;
    padding-bottom: 10px; }
    .main-nosotros section h1 {
      font-family: "Poppins", sans-serif;
      padding-top: 10px;
      text-align: center;
      font-size: 30px; }
    .main-nosotros section .foto-quienes-somos img {
      width: 80%;
      margin-left: 30px;
      margin-top: 10px;
      margin-bottom: 10px; }
    .main-nosotros section .texto-nosotros {
      margin-left: 10px;
      margin-right: 10px; }
      .main-nosotros section .texto-nosotros p {
        font-family: "Poppins", sans-serif;
        text-align: center;
        font-size: 18px; }

@media (min-width: 375px) {
  header .navbar {
    font-size: 23px; }
  .main-index .section-principal h1 {
    right: 23%;
    font-size: 35px; }
  .main-index .section-principal div p {
    top: 25%;
    font-size: 21px; }
  .main-index .section-principal div a {
    top: 75%;
    font-size: 25px; }
  .main-campo .container-mapas div figure iframe {
    margin-left: 36px; } }

@media (min-width: 425px) {
  .main-campo .container-mapas div figure iframe {
    margin-left: 41px; } }

@media (min-width: 768px) {
  header .navbar {
    font-size: 25px; }
  .main-index .section-principal img {
    height: 400px; }
  .main-index .section-principal h1 {
    right: 30%;
    font-size: 60px; }
  .main-index .section-principal div p {
    top: 30%;
    font-size: 30px; }
  .main-index .section-principal div a {
    top: 75%;
    font-size: 30px; }
  .main-index .section-index-secundary div figure {
    flex-direction: row; }
    .main-index .section-index-secundary div figure figcaption {
      margin-right: 5%;
      font-size: 25px; }
  .main-actividad h1 {
    padding-top: 20px;
    font-size: 50px; }
  .main-actividad .container-agricultura h2 {
    font-size: 35px; }
  .main-actividad .container-agricultura div img {
    margin-top: 20px;
    margin-bottom: 20px; }
  .main-actividad .container-agricultura div p {
    font-size: 30px; }
  .main-actividad .container-ganaderia h2 {
    font-size: 35px; }
  .main-actividad .container-ganaderia div img {
    margin-top: 20px;
    margin-bottom: 20px; }
  .main-actividad .container-ganaderia div p {
    font-size: 30px; }
  .main-campo .container-mapas div figure iframe {
    margin-left: 80px; }
  .main-nosotros section h1 {
    font-size: 40px; }
  .main-nosotros section .foto-quienes-somos img {
    margin-left: 80px; }
  .main-nosotros section .texto-nosotros {
    margin-left: 25px;
    margin-right: 25px; }
    .main-nosotros section .texto-nosotros p {
      font-size: 20px; } }

@media (min-width: 1024px) {
  .main-index .section-principal h1 {
    right: 33%; }
  .main-index .section-principal div p {
    top: 35%; }
  .main-index .section-index-secundary {
    flex-direction: row; }
    .main-index .section-index-secundary div figure {
      flex-direction: column; }
      .main-index .section-index-secundary div figure img {
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        width: 80%; }
      .main-index .section-index-secundary div figure figcaption {
        padding: 15px 0px 10px 0px;
        font-size: 20px;
        margin-left: 3%; }
  .main-actividad h1 {
    font-size: 60px; }
  .main-actividad .container-agricultura h2 {
    font-size: 40px; }
  .main-actividad .container-agricultura div {
    flex-direction: row; }
    .main-actividad .container-agricultura div img {
      width: 70%;
      margin-left: 5px;
      margin-right: 5px; }
    .main-actividad .container-agricultura div p {
      font-size: 18px;
      margin-left: 0px;
      margin-right: 0px; }
  .main-actividad .container-ganaderia h2 {
    font-size: 40px; }
  .main-actividad .container-ganaderia div {
    flex-direction: row-reverse; }
    .main-actividad .container-ganaderia div img {
      width: 70%;
      margin-left: 5px;
      margin-right: 5px; }
    .main-actividad .container-ganaderia div p {
      font-size: 18px;
      margin-left: 0px;
      margin-right: 0px; }
  .main-campo .container-mapas div figure iframe {
    margin-left: 100px; }
  .main-nosotros section h1 {
    font-size: 50px; }
  .main-nosotros section .foto-quienes-somos {
    margin-left: 120px;
    margin-bottom: 20px; }
  .main-nosotros section .texto-nosotros {
    margin-left: 30px;
    margin-right: 30px; }
    .main-nosotros section .texto-nosotros p {
      font-size: 20px; }
  footer {
    grid-template-areas: "footer-telefono footer-logo footer-redes";
    align-items: center; }
    footer .footer-logo {
      margin-top: 15px;
      margin-bottom: 10px; } }

@media (min-width: 1440px) {
  .main-actividad .container-agricultura div img {
    width: 70%;
    margin-left: 5px;
    margin-right: 5px; }
  .main-actividad .container-agricultura div p {
    font-size: 25px;
    margin-left: 0px;
    margin-right: 0px; }
  .main-actividad .container-ganaderia div img {
    width: 70%;
    margin-left: 5px;
    margin-right: 5px; }
  .main-actividad .container-ganaderia div p {
    font-size: 25px;
    margin-left: 0px;
    margin-right: 0px; } }

@media (min-width: 1024px) {
  .navbar {
    font-size: 30px; }
  .navbar-nav {
    display: flex;
    justify-content: center;
    margin: auto;
    float: none; }
    .navbar-nav .nav-item {
      margin: 20px; } }

.nav-item:hover a {
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.2em; }

/*
verde oscuro a verde clarito
344e41
3a5a40
588157
a3b18a
dad7cd
**/
/*
verde clarito a marron
606c38
283618
fefae0
dda15e
bc6c25
**/
/*
#F0EBCE color clarito viejo
#AA8B56 color marron viejo
**/
