header{
    nav{
        background-color: $color-border ;
        div{
            div{
                ul{
                    li{
                        a{
                            font-family: $font-general;
                            color: white;
                            
                        }
                    }
                }
            }
        }
    }
}