.main-actividad{
    background-color:$color-background;
    h1{
        font-family:$font-general ;
        padding-top: 10px;
        text-align: center;
        font-size: 30px;
    }
    .container-agricultura{
        @include flex(column,none,none);
        margin-top: 20px;
        margin-bottom: 20px;
        h2{
            font-family:$font-general ;
            text-align: center;
            font-size: 25px;
        }
        div{
            @include flex(column,none,center);
            img{
                width: 100%;
                margin-top: 10px;
                margin-bottom: 10px;
                margin-left: 0%;
                margin-right: 0%;
            }
            p{
                font-family:$font-general ;
                text-align: center;
                font-size: 20px;
            }
        }
    }
    .container-ganaderia{
        @include flex(column,none,none);
        margin-top: 20px;
        padding-bottom: 20px;
        h2{
            font-family:$font-general ;
            text-align: center;
            font-size: 25px;
        }
        div{
            @include flex(column,none,center);
            img{
                width: 100%;
                margin-top: 10px;
                margin-bottom: 10px;
                margin-left: 0%;
                margin-right: 0%;
            }
            p{
                font-family:$font-general ;
                text-align: center;
                font-size: 20px;
            }
        }
    }
}