.main-contacto{
    h1{
        font-family:$font-general  ;
        padding-top: 10px;
        text-align: center;
        font-size: 30px;
    }
    section{
        font-family:$font-general ;
        padding-bottom: 20px;
        margin-top: 15px;
        margin-left: 10px;
        margin-right: 10px;
    }
}