@media (min-width: 1440px){
    .main-actividad{
        .container-agricultura{
            div{
                img{
                    width: 70%;
                    margin-left: 5px;
                    margin-right: 5px;
                }
                p{
                    font-size: 25px;
                    margin-left: 0px;
                    margin-right: 0px; 
                }
            }
        }
        .container-ganaderia{
            div{
                img{
                    width: 70%;
                    margin-left: 5px;
                    margin-right: 5px;
                }
                p{
                    font-size: 25px;
                    margin-left: 0px;
                    margin-right: 0px;
                }
            }
        }
    }
}    